* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    padding: 2em 1em;
    background-color: #222222;
    color: white;
}

p {
    width: 50px;
    text-align: center;
    height: 50px;
    border: 1px solid #222222;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s forwards ease;
    transition: all 0.1s ease-in;
    opacity: 0;
    cursor: pointer;
    margin: 1em;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
